@import 'variables';

@include mobile{
   body{
   .video-banner{
    position: static;
    width: 100%;
    object-fit: cover;
    
   }
   .bg-video{
    height: 100%;
   }
   .text{
      padding-top: 100px;
   }
   }
   .featured{
      gap: 10px;
      row-gap: 1.5rem;
   }
  .social-icons{
       flex-direction: row;
}
}
@include tablet{
    .text{
      padding-top: 150px;
    }
    .featured{
     display: flex;
     flex-wrap: wrap;
     row-gap: 1.5rem;
    }
}
